<div layout-gt-lg="row" layout="column" class="statsbar" flex>
	<div layout="column" layout-gt-sm="row" flex>
		<div layout="column" flex>
			<md-card class="metric">
				<md-card-title>
					<md-card-title-media>
						<div class="md-media-sm card-media" layout="row" layout-align="center center" >
							<md-icon class="material-icons" style="height:30px; width:30px; position:relative; top:5px; "><img src="assets/newart/masarifav.png" /></md-icon>
						</div>
					</md-card-title-media>
					<md-card-title-text>
						<span class="md-headline" style="text-align:left;">Masari Mining Pool</span>
						<span class="md-subhead" style="text-align:left;">Useful Links: <a href="https://www.getmasari.org" target="_blank">Masari Website</a>, <a href="https://discordapp.com/channels/375400891643068438/375400892188590081" target="_blank">Masari Discord</a>, <a href="https://www.southxchange.com/Market/Book/MSR/BTC" target="_blank">SouthXchange</a>, <a href="https://stocks.exchange/trade/MSR/BTC" target="_blank">Stocks.Exchange</a>, <a href="https://tradeogre.com/exchange/BTC-MSR" target="_blank">TradeOgre</a></span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
		<div layout="column" flex>
			<md-card class="metric">
				<md-card-title>
					<md-card-title-media>
						<div class="md-media-sm card-media" layout="row" layout-align="center center">
							<md-icon class="material-icons">widgets</md-icon>
						</div>
					</md-card-title-media>
					<md-card-title-text>
						<div class="md-headline">{{poolStats.global.totalBlocksFound}}</div>
						<div class="md-subhead">
							<span>Blocks Found</span>
							<md-divider md-inset></md-divider>
							<a href="#!/blocks">
								<span am-time-ago="poolStats.global.lastBlockFoundTime*1000"></span>
								<md-tooltip md-direction="bottom">
									{{poolStats.global.lastBlockFoundTime*1000 | date:'HH:mm:ss dd/MM/yy'}}
								</md-tooltip>
							</a>
						</div>
					</md-card-title-text>
					<md-card-title-text>
						<div class="md-headline">{{((24 * 60) * (network.difficulty | difficultyToHashRate)/(360*poolStats.global.hashRate)).toFixed(2)}}</div>
                        <md-tooltip md-direction="bottom">
									Duration in minutes to find a block at 100% effort
								</md-tooltip>
						<div class="md-subhead">
							<span>Block Time (Minutes)</span>
                            
							<md-divider md-inset></md-divider>
							<span class="md-subhead"><a href="#!/home">Current effort {{((poolStats.global.roundHashes / network.difficulty)*100).toFixed(1) | number}} %</a></span>
						</div>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
	<div layout="column" layout-gt-sm="row" flex>
		<div layout="column" flex>
			<md-card class="metric">
				<md-card-title>
					<md-card-title-media>
						<div class="md-media-sm card-media" layout="row" layout-align="center center">
							<md-icon class="material-icons">memory</md-icon>
						</div>
					</md-card-title-media>
					<md-card-title-text>
						<span class="md-headline">{{poolStats.global.miners}}</span>
						<span class="md-subhead">Miners Connected</span>
						<md-divider md-inset></md-divider>
						<span class="md-subhead"><a href="#!/ports">{{WorkersTotal | number}} Connections</a></span>
					</md-card-title-text>
					<md-card-title-text>
						<span class="md-headline">{{poolStats.global.totalMinersPaid}}</span>
						<span class="md-subhead">
							Miners Paid 
							<a href="#!/payments">
								<md-divider md-inset></md-divider>
								{{poolStats.global.totalPayments}} Payments
							</a>
						</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
		<div layout="column" flex>
			<md-card class="metric">
				<md-card-title>
					<md-card-title-media>
						<div class="md-media-sm card-media" layout="row" layout-align="center center">
							<md-icon class="material-icons">attach_money</md-icon>
						</div>
					</md-card-title-media>
					<md-card-title-text>
						<span class="md-headline">{{msrbtc}}</span>
						<div class="md-subhead">
							<span>CoinMarketCap</span>
							<md-divider md-inset></md-divider>
							<span class="md-subhead">MSR to EUR: €{{msreur}}</span>
							<!--                            <span class="md-subhead"><a href="#!/home">Average effort {{overallEffort | number:2 }} %</a></span> -->
						</div>
					</md-card-title-text>
					<md-card-title-text>
						<span class="md-headline" ng-if="(network.avgDiffPastDay * config.pplns_multiplier / poolStats.global.hashRateAvg) < (60 * 60 * 24)" ng-cloak>{{(network.difficulty * config.pplns_multiplier / poolStats.global.hashRateAvg) * 1000 | date : 'HH:mm' : 'UTC'}}</span>
						<span class="md-headline" ng-if="(network.avgDiffPastDay * config.pplns_multiplier / poolStats.global.hashRateAvg) > (60 * 60 * 24)">&gt; 1 Day</span>
						<span class="md-subhead">PPLNS Window</span>
						<md-tooltip md-direction="bottom">
							Estimated mining time before your full PPLNS potential is realized
						</md-tooltip>
						<md-divider md-inset></md-divider>
						<span class="md-subhead">MSR to USD: ${{msrusd}}</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
</div>
